#home {
  background-color: $light-gray;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  line-height: 3.428571;
  p {
    margin-top: 1.5em;
  }
  a {
    color: $black;
    font-weight: lighter;
    font-size: 32px;
  }
}
