
<div id="home">
  <div class="home-content">
    <div id="topics">
      <p><%= link_to "Artist", "about.html" %></p>
      <p><%= link_to "Work", "#" %></p>
      <p><%= link_to "Contact", "#" %></p>
    </div>
  </div>
  <div id="home-eva">
    <%= image_tag "Eva.jpeg", width: "600" %>
  </div>
</div>
